.modal-title {
    margin-bottom: -6px;
    margin-top: 6px;
}

.modal-body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.modal-footer {
    font-size: 0.7rem;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
    font-weight: 800;
}
h2 {
    font-family: 'Stack Sans Headline';
    font-size: 20px;
    font-weight: 200;
}
.nameplate {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 3.5px solid #00708A;
    margin-bottom: 20px;
}
.basic-info {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    margin-bottom: 20px;
}

.accordion-button {
    background-color: #00708A;
    color: white;
    --bs-accordion-active-bg: white;
    --bs-accordion-active-color: #00708A;
    // $accordion-btn-icon: escape-svg($custom-chevron);
    // $accordion-btn-active-icon: escape-svg($custom-chevron-active);
    --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --bs-accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
    --bs-accordion-btn-focus-box-shadow: 0 0 0 2px #00354520;
    // .accordion-button::after {
    //     background-image: escape-svg($custom-chevron);
    // }
    // .accordion-button::not(.collapsed)::after {
    //     background-image: escape-svg($custom-chevron-active);
    // }
}

.accordion-header {
    font-family: 'Stack Sans Headline';
}

.cv-item{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.accordion-body {
    padding-bottom: 0.25rem;
}