.modal-title {
    margin-bottom: -6px;
    margin-top: 6px;
}

.modal-body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.modal-footer {
    font-size: 0.7rem;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
    font-weight: 800;
}
h2 {
    font-family: 'Stack Sans Headline';
    font-size: 20px;
    font-weight: 200;
}
.nameplate {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 3.5px solid #00708A;
    margin-bottom: 20px;
}
.basic-info {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    margin-bottom: 20px;
}

.accordion-button {
    background-color: #00708A;
    color: white;
    --bs-accordion-active-bg: white;
    --bs-accordion-active-color: #00708A;
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%2300708a' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>");
    --bs-accordion-btn-focus-box-shadow: 0 0 0 2px #00354520;
}

.accordion-header {
    font-family: 'Stack Sans Headline';
}

.cv-item{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.accordion-body {
    padding-bottom: 0.25rem;
}